<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mentoria Gratuita - IA para Jornalistas</title>
  <link rel="stylesheet" href="../static/css/fonts.css">
  <link rel="stylesheet" href="../static/css/jornalistas.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="fundo-jornalistas">
      <img src="../static/img/bg-jornalistas.jpg" alt="Fundo" class="fundo-img" />
      <div class="overlay-conteudo">
        <div class="frase-destaque">Um passo além do ChatGPT</div>
        <div>
          <h2 data-aos="fade-left" data-aos-delay="100" data-aos-duration="800">Mentoria Gratuita</h2>
          <h1 data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">Inteligência Artificial<br>para Jornalistas</h1>
          <p class="not-lancamento" data-aos="fade-up" data-aos-delay="300" data-aos-duration="600">*Não é lançamento de produto</p>

          <div class="section" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
            <h2 class="dias-titulo">Google Meet</h2>
            <p class="dias-data" data-aos="zoom-in-right" data-aos-delay="500" data-aos-duration="800"><strong>08, 09 e 10 de Agosto</strong></p>
          </div>

          <div class="botao-inscricao" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="600">
            <a href="https://forms.gle/jdx4KVxvrxajSLu77" class="btn-inscreva-se">INSCREVA-SE</a>
          </div>

          <div class="video-container" data-aos="fade-up" data-aos-delay="650" data-aos-duration="800">
            <iframe src="https://www.youtube.com/embed/msf6O4Nl9sg" title="Vídeo de Apresentação" allowfullscreen></iframe>
          </div>

          <div class="section ministrante" data-aos="fade-up" data-aos-delay="700" data-aos-duration="800">
            <div class="rodape">
              <img src="../static/img/pessoas/sandeco.png" alt="Sandeco Macedo" class="foto-sandeco">
              <div class="info-sandeco">
                <strong class="ministrado-por">Ministrado por</strong><br>
                <strong class="nome-sandeco">Prof. Sandeco Macedo</strong><br>
                <span class="cargo-sandeco">Professor, Pesquisador e Escritor</span><br>
                <span class="titulo-sandeco">Embaixador da Campus Party Brasil</span>
              </div>
            </div>
            
            <div class="programa" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800">
              <h2>Conteúdo Programático</h2>
              <ul>
                <li data-aos="fade-left" data-aos-delay="100" data-aos-duration="600">Fundamentação teórica e descomplicada da IA</li>
                <li data-aos="fade-left" data-aos-delay="150" data-aos-duration="600">Como treinar uma IA, exemplo prático</li>
                <li data-aos="fade-left" data-aos-delay="200" data-aos-duration="600">Como o ChatGPT funciona por dentro</li>
                <li data-aos="fade-left" data-aos-delay="250" data-aos-duration="600">Como o contexto é fundamental para as LLMs</li>
                <li data-aos="fade-left" data-aos-delay="300" data-aos-duration="600">Pode perguntar, eu respondo</li>
                <li data-aos="fade-left" data-aos-delay="350" data-aos-duration="600">Engenharia de Prompt ao Jornalismo</li>
                <li data-aos="fade-left" data-aos-delay="400" data-aos-duration="600">O que são Agentes de IA</li>
                <li data-aos="fade-left" data-aos-delay="450" data-aos-duration="600">Uso de Agentes Inteligentes no Jornalismo</li>
                <li data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">Aplicações da IA no dia-a-dia de uma redação</li>
                <li data-aos="fade-left" data-aos-delay="550" data-aos-duration="600">Mais Perguntas e respostas</li>
              </ul>
            </div>
          </div>

          <div class="botao-inscricao" data-aos="fade-up" data-aos-delay="900" data-aos-duration="600">
            <a href="https://forms.gle/jdx4KVxvrxajSLu77" class="btn-inscreva-se">INSCREVA-SE</a>
          </div>
        </div>

        <div>
          <div class="logos" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="600">
            <img src="../static/img/canal_sandeco.png" alt="Canal Sandeco" class="logo-discreta">
            <img src="../static/img/ag-br.png" alt="Agents Brazil" class="logo-discreta">
          </div>
        </div>
      </div>
    </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1500,
      once: true,
      offset: 100
    });
  </script>
</body>
</html>
